/* media querries

*/
@media (max-width: 85em) {
  .header-heading {
    font-size: 4rem;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 2.4rem;
  }
  .nav-list {
    margin-bottom: 14rem;
  }
  .bio-img {
    width: 36rem;
  }
  .bio-text {
    font-size: 2.5rem;
    margin-left: 4rem;
    padding: 2rem;
  }
  .circle {
    width: 45rem;
    height: 45rem;
  }
  .circle-thin {
    width: 55rem;
    height: 55rem;
  }
  .circle-thinning {
    width: 50rem;
    height: 50rem;
  }
  .project-text {
    font-size: 2rem;
  }
  .project-img {
    width: 56rem;
  }
  .project-heading {
    font-size: 4.8rem;
  }
  .contact-img-row {
    column-gap: 10%;
    margin: 0 50rem;
  }
}

@media (max-width: 75em) {
  /* header */
  .header-heading {
    font-size: 4.2rem;
  }
  .btn-nav:visited,
  .btn-nav:link {
    font-size: 2.2rem;
  }
  .nav-list {
    margin-bottom: 14rem;
  }
  /* bio */
  .bio-img {
    width: 32rem;
  }
  .circle {
    width: 40rem;
    height: 40rem;
  }
  .circle-thin {
    width: 50rem;
    height: 50rem;
  }
  .circle-thinning {
    width: 45rem;
    height: 45rem;
  }
  .bio-text {
    font-size: 2.2rem;
    padding: 4rem;
    margin-left: 2rem;
  }
  /* projects */
  .project-heading {
    font-size: 4.8rem;
  }
  .project-text {
    font-size: 2.1rem;
  }
  /* contact */
  .contact-img-row {
    margin: 0 45rem;
    column-gap: 10%;
  }
}

/* below 1200px */
@media (max-width: 71.875em) {
  .header-heading {
    font-size: 3.85rem;
  }
  .bio-text {
    font-size: 2.1rem;
  }
  .project-img {
    width: 54rem;
  }
}
@media (max-width: 68.75em) {
  .header-heading {
    font-size: 3.4rem;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 2rem;
  }
  .bio-img {
    width: 30rem;
  }
  .circle {
    width: 35rem;
    height: 35rem;
  }
  .circle-thinning {
    width: 40rem;
    height: 40rem;
  }
  .circle-thin {
    width: 45rem;
    height: 45rem;
  }
  .bio-text {
    font-size: 2rem;
    padding: 3.6rem;
    margin-left: 3.6rem;
    font-weight: 300;
  }
  .project-heading {
    font-size: 3.6rem;
  }
  .project-text {
    font-size: 1.8rem;
  }
  .project-img {
    width: 48rem;
    height: auto;
  }
  .contact-img-row {
    margin: 0 35rem;
    column-gap: 10%;
  }
}
@media (max-width: 64.5em) {
  .header-heading {
    font-size: 3rem;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 1.6rem;
  }
  .bio-text {
    font-size: 1.6rem;
    padding: 3.2rem;
    margin-left: 3rem;
  }
  .bio-img {
    width: 26rem;
  }
  .circle {
    width: 30rem;
    height: 30rem;
  }
  .circle-thinning {
    width: 35rem;
    height: 35rem;
  }
  .circle-thin {
    width: 40rem;
    height: 40rem;
  }
  .project-heading {
    font-size: 3.2rem;
  }
  .project-text {
    font-size: 1.6rem;
  }
  .project-img {
    width: 42rem;
  }
}
@media (max-width: 62.5em) {
  .section-intro-head {
    max-width: fit-content;
  }

  .header-heading {
    font-size: 4rem;
    margin: 16rem;
    margin-bottom: 40rem;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 2rem;
    /* margin-bottom: 12rem; */
  }
  .nav-list {
    margin-top: -36rem;
    gap: 4rem;
    padding: 0 16rem;
    margin-bottom: 24rem;
  }
  .interests {
    max-width: 80rem;
  }
  .slider_btn-left {
    margin-left: 28.5rem;
  }
  .slider_btn-right {
    margin-left: 48.5rem;
  }
}
@media (max-width: 60.94em) {
  .header-heading {
    font-size: 4.4rem;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 2rem;
  }

  .project-text {
    font-size: 1.4rem;
  }
  .project-img {
    width: 36rem;
  }
}
@media (max-width: 58.9em) {
  .header-heading {
    font-size: 4rem;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 2rem;
  }
  .bio-img {
    width: 22rem;
  }
  .circle {
    width: 25rem;
    height: 25rem;
  }
  .circle-thinning {
    width: 30rem;
    height: 30rem;
  }
  .circle-thin {
    width: 35rem;
    height: 35rem;
  }
  .bio-text {
    font-size: 1.6rem;
    padding: 3.2rem;
    margin-left: 2.4rem;
  }
  .skills-text {
    font-size: 5.8rem;
  }
  .skill-img {
    width: 8rem;
  }
}

@media (max-width: 55.3em) {
  .section-intro-head {
    max-width: fit-content;
  }
  .header-heading {
    font-size: 3.9rem;
    margin: 14rem;
    margin-bottom: 40rem;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 2rem;
    /* margin-bottom: 12rem; */
  }
  .nav-list {
    margin-top: -36rem;
    gap: 4rem;
    padding: 0 14rem;
    margin-bottom: 24rem;
  }
  .bio {
    grid-template-columns: repeat(1, 1fr);
    gap: 6.4rem;
  }

  .bio-text {
    margin: 0 6.4rem;
    font-size: 1.6rem;
    text-align: center;
  }
  .book-text {
    margin: 0 12rem;
  }
  .contact-img-row {
    margin: 0 25rem;
    column-gap: 10%;
  }
}

@media (max-width: 51.56rem) {
  .header-heading {
    font-size: 3.6rem;
    margin: 14rem;
    margin-bottom: 40rem;
    text-align: center;
  }
  .btn-nav:link,
  .btn-nav:visited {
    font-size: 1.8rem;
    /* margin-bottom: 12rem; */
  }
  .nav-list {
    margin-top: -36rem;
    gap: 4rem;
    padding: 0 30rem;
    margin-bottom: 12rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .bio-text {
    font-size: 1.8rem;
    margin: 0 6rem;
    padding: 2rem;
  }
  .interests {
    max-width: 55rem;
  }
  .book-text {
    margin: 0 4rem;
  }
  .slider_btn-left {
    margin-left: 16rem;
  }
  .slider_btn-right {
    margin-left: 36.5rem;
  }
  .skill-img {
    width: 6.4rem;
  }
  .skills-text {
    font-size: 4.8rem;
  }
  .projects {
    padding-bottom: 3.6rem;
  }

  .project-heading {
    text-align: center;
    padding-left: 0;
  }
  .project-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  .project-text {
    text-align: center;
    margin-bottom: 6.4rem;
    padding: 0 3.6rem;
    font-size: 2rem;
  }
  .project-img {
    width: 56rem;
  }
  .contact-img-row {
    margin: 0 20rem;
    column-gap: 10%;
  }
}
@media (max-width: 43.75em) {
  .header-heading {
    font-size: 3.2rem;
  }
  .nav-list {
    padding: 0 24rem;
  }
  .bio-text {
    margin: 0 3.2rem;
    font-size: 1.6rem;
  }
  .skills-text {
    font-size: 4.2rem;
  }
  .skill-img {
    width: 5.8rem;
  }
  .contact-heading {
    font-size: 4.2rem;
  }
  .contact-text {
    font-size: 2.6rem;
  }
  .projects {
    padding-bottom: 2.4rem;
  }
}
@media (max-width: 37.5em) {
  .header-heading {
    font-size: 2.8rem;
    margin: 10rem;
  }
  .nav-list {
    padding: 0 20rem;
    margin-top: 0;
  }
  .bio-img {
    width: 16rem;
  }
  .circle {
    width: 20rem;
    height: 20rem;
  }
  .circle-thinning {
    width: 25rem;
    height: 25rem;
  }
  .circle-thin {
    width: 30rem;
    height: 30rem;
  }
  .bio-text {
    margin: 0 1.2rem;
    padding: 1.6rem;
  }
  .interests {
    max-width: 35rem;
  }
  .slider_btn-left {
    margin-left: 6rem;
  }
  .slider_btn-right {
    margin-left: 26rem;
  }
  .book-text {
    margin: 0 0.6rem;
  }
  .skills-text {
    font-size: 3.6rem;
  }
  .skill-img {
    width: 5.6rem;
  }
  .project-text {
    font-size: 1.6rem;
  }
  .project-img {
    width: 42rem;
  }
  .contact-img-row {
    margin: 0 15rem;
    column-gap: 10%;
  }
  .contact-text {
    font-size: 2.2rem;
  }
}
@media (max-width: 34.38em) {
  .header-heading {
    margin: 8rem;
  }
  .nav-list {
    margin-top: 12rem;
    padding: 0 18rem;
  }
  .bio-text {
    margin: 0 0.8rem;
    padding: 0.8rem;
  }
  .skills-text {
    font-size: 3rem;
  }
  .bio {
    margin: 6rem;
    margin-bottom: 12rem;
  }
  .project-text {
    margin: 4.8rem 2.4rem;
    margin-top: -1.6rem;
  }
  .project-img {
    margin-bottom: -9.6rem;
    width: 36rem;
  }
  .contact-text {
    font-size: 2rem;
  }
  .contact-img-row {
    margin: 0 10rem;
  }
}
@media (max-width: 31.25em) {
  .header-heading {
    margin: 4rem;
  }
  .nav-list {
    padding: 0 14rem;
  }
  .skills {
    margin: 3.6rem;
  }
  .skills-text {
    font-size: 2.8rem;
  }
  .skill-img {
    width: 4.8rem;
  }
  .contact-text {
    font-size: 1.8rem;
  }
  .back-to-top {
    font-size: 2.8rem;
  }
}
@media (max-width: 25.94em) {
  .header-heading {
    margin: 2rem;
    font-size: 2.6rem;
  }
  .nav-list {
    padding: 0 12rem;
    margin-top: 14rem;
  }
  .bio {
    margin: 4.8rem;
  }
  .bio-text {
    margin: 0;
  }
  .book-heading {
    font-size: 2.8rem;
  }
  .interests {
    max-width: 30rem;
    /* overflow: visible; */
  }
  .slider_btn-left {
    margin-left: 3.7rem;
  }
  .slider_btn-right {
    margin-left: 23.75rem;
  }
  .book-text {
    margin-top: 1.6rem;
    font-size: 1.9rem;
  }
  .contact-img-row {
    margin: 0 5rem;
  }
  .contact-img {
    width: 8rem;
  }
}
@media (max-width: 23.44em) {
  .nav-list {
    padding: 0 10rem;
  }
  .skills-text {
    font-size: 2.4rem;
  }
  .skill-img {
    width: 4.2rem;
  }
  .project-text {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 4.8rem;
  }
  .project-img {
    width: 28rem;
  }
  .contact-text {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .contact-heading {
    font-size: 2.8rem;
  }
  .back-to-top {
    font-size: 2.4rem;
  }
}
@media (max-width: 20em) {
  .nav-list {
    padding: 0 8rem;
  }
  .bio {
    margin: 0.8rem;
    margin-top: 6.4rem;
  }
  .project-text {
    margin: 2rem 1.2rem;
    margin-top: -1.6rem;
  }
  .project-img {
    width: 24rem;
  }
  .contact-text {
    font-size: 1.4rem;
  }
}
