/* 
Dark primary color: #303f9f
Light primary color: #c5cae9
Primary Color: #3f51b5
Text/Icons: #ffffff
Accent Color: #607D8B
Primary Text: #212121
Secondary text: #757575
Divider Color: #bdbdbd
*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* color: #212121; */
  line-height: 1;
  font-weight: 300;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* Transition to opacity 1 */
  }
}

.section-head {
  color: #bdbdbd;
  justify-content: left;
  align-items: center;
  background-color: #3f51b5;
  padding: 6.4rem 0;
}
.section-intro-head {
  max-width: 150rem;
}

.header-heading {
  margin: 28rem;
  font-size: 6.4rem;
  letter-spacing: -1px;
}

/* .btn-bio {
} */

.nav-list {
  justify-content: center;
  align-items: center;
  margin-top: -24rem;
  margin-bottom: 28rem;
  padding: 0 28rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.btn-nav {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-nav:visited,
.btn-nav:link {
  font-size: 3.2rem;
  text-decoration: none;
  border: thick double #bdbdbd;
  transition: all 0.5s;
  color: #bdbdbd;
}

.btn-nav:hover,
.btn-nav:active {
  color: #999;
  border: thick double #999;
  text-shadow: 10px 1px 50px;
  border-radius: 25%;
}

.bio {
  color: #bdbdbd;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12rem;
}
.bio-img {
  width: 40rem;
  height: auto;
  position: relative;
  z-index: 1;
  border-radius: 5%;
}
.circle-container {
  position: relative;
  display: inline-block;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: #3f51b5;
}

.bio-text {
  border: thick double #212121;
  color: #212121;
  padding: 4.6rem;
  font-size: 3rem;
  font-weight: 100;
  z-index: 10;
  text-align: left;
}

.circle-thin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 60rem;
  border-radius: 50%;
  background-color: #3f51b5;
  z-index: -10;
  opacity: 0.5;
}

.circle-thinning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  background-color: #3f51b5;
  z-index: -10;
  opacity: 0.7;
}
